
body {
	background: url('Robot_Index2.jpg'); 
	background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media only screen and (max-width: 400px) {
  body {
    background: url(Robot_Mobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }
}

