
body {
	background:DodgerBlue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
footer{
	background-color:#d6d6d6;
}
